@use '../../styles/variables' as *;

.markdownContainer {
  font-family: 'JetBrains Mono', monospace; // Or $font-mono
  line-height: 1.6;
  color: $text-main;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $line-color;
    padding-bottom: 0.25em;
  }

  p {
    margin-bottom: 1em;
  }

  ul, ol {
    margin-bottom: 1em;
    padding-left: 2em;
  }

  code {
    background: rgba(0,0,0,0.05);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.9em;
  }

  pre {
    background: #f5f5f5;
    padding: 1em;
    overflow-x: auto;
    border: 1px solid $line-color;
    margin-bottom: 1em;

    code {
      background: none;
      padding: 0;
    }
  }

  blockquote {
    border-left: 4px solid $line-color;
    margin: 1em 0;
    padding-left: 1em;
    opacity: 0.8;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;

    th, td {
      border: 1px solid $line-color;
      padding: 0.5em;
      text-align: left;
    }

    th {
      background: rgba(0,0,0,0.02);
      font-weight: bold;
    }
  }
}
