@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.panel {
  @include glass-morphism;
  padding: 1.5rem;
  border-radius: 4px; // Small radius, mostly sharp
  position: relative;
  overflow: hidden;

  // Decorative corner markers
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-top: 2px solid $energy-cyan-dim;
    border-left: 2px solid $energy-cyan-dim;
    opacity: 0.5;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid $energy-cyan-dim;
    border-right: 2px solid $energy-cyan-dim;
    opacity: 0.5;
  }
}
